@import url('https://fonts.googleapis.com/css?family=Poppins:400,600');
@import "partials/pallete";

$default-font-set: 'Poppins', sans-serif, arial;

%dispose-button {
  display: block;
  width: 25px;
  height: 25px;
  background-image: url('../images/close-btn.png');
  background-repeat: no-repeat;
  background-position: top;
  transition: .2s;
}

%dispose-button-hover {
  background-position-y: -25px;
}

body {
  font-family: $default-font-set;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.btn {
  display: inline-block;
  border-radius: 3px;
  padding: 0 20px;
  height: 30px;
  line-height: 28px;
  font-size: 14px;
  border: none;
  color: #fff;
  font-family: $default-font-set;
}

.btn-bolded {
  font-weight: 600;
}

.btn-medium {
  height: 35px;
  line-height: 35px;
}

.btn-large {
  height: 40px;
  line-height: 40px;
}

.btn-default {
  color: #fff;
  border: 1px solid rgb(0, 113, 224);
  background: linear-gradient(rgb(0, 150, 255), rgb(0, 93, 255));

  &:hover {
    background: linear-gradient(#008aea, #024dcf);
    border-color: #0055a7;
  }

  &:active {
    background: #2574c1;
  }
}

.btn-success {
  color: #fff;
  border: 1px solid #269c42;
  background: linear-gradient(#34d058 0%, #28a745 90%);

  &:hover {
    background: linear-gradient(#2fcb53 0%, #269f42 90%);
    border-color: #1b7130;
  }

  &:active {
    background: #30b54f;
  }
}

.btn-danger {
  color: #fff;
  border: 1px solid #9c2118;
  background: linear-gradient(#eb3845, #d9030a);

  &:hover {
    border-color: #80211b;
    background: linear-gradient(#e23642, #c3030a);
  }

  &:active {
    background: #bf2c22;
  }
}

.btn-default-outlined {
  border: 1px solid $blue;
  color: $blue;
  background: transparent;
  line-height: 28px;

  &:hover {
    border-color: $light-blue;
    color: $light-blue;
  }
}

%clearfix {
  content: "";
  display: table;
  clear: both;
}

.clearfix:after {
  @extend %clearfix;
}