@model Tuple<string, List<FlowHub.ViewModels.FacebookAccountViewModel>>

<div class="js-container" data-kind="@Model.Item1">
    @foreach (var account in Model.Item2)
    {
        <div>
            <img src="@account.PictureUrl">
            <p>@account.Name</p>
            <button data-accountId="@account.Id" class="js-account">Save</button>
        </div>
    }
</div>

@section scripts
{
    <script>
        let container = document.querySelector('.js-container');
        container.addEventListener('click', e => {
            let action = e.target;
            if (action.className === 'js-account') {
                let data = new FormData();
                data.append('id', action.getAttribute('data-accountId'));
                
                $.ajax({
                    url: '/OAuth/Save' + container.getAttribute('data-kind') + 'Account',
                    method: 'POST',
                    data: data,
                    contentType: false,
                    processData: false,
                    mimeType: 'multipart/form-data'
                }).done(data => {
                    console.log(data);
                });
            }
        });
    </script>
}
