@{
  ViewBag.Title = "Home";
  Layout = "~/Views/Shared/_Dashboard.cshtml";
}

<div class="dashboard-section">
  <h3>@ViewBag.Title</h3>
  <form class="form">
    <div class="form-group">
      <textarea placeholder="Say something..."></textarea>
    </div>
  </form>
  <p>Овој е некој основан темплејт. Е сга за остали ситнице што ке се правив успут идеја иде овакој. Пред тј главан наслов да има табови за фб, твитер и слично зависно од тој кои акаунти со повржани, и сс клик на едн таб ке може да се филтирав постови само за тј акаунт. У исто делцче од десну страну ке има изолиран таб за аналитички алатке. Овј бокс за постови ке се досреди нормално.
    Значи home страна ке биде дисплеј на постови, accounts ке биде за повржување на други акаунти и менаџирање на исти. Исто и за teams само што тој ке биде покомплексно нормално, там ке су постови од страну, менаџирања сс тим и све тој.
    Остало за сетинзи и логоут е јасно веќ.
  </p>
</div>




