@using FlowHub.Models
@using FlowHub.ViewModels
@model DashboardViewModel<Team, ApplicationUser>
@{
  ViewBag.Title = "Teams";
  Layout = "~/Views/Shared/_Dashboard.cshtml";
}

<div class="dashboard-section dashboard-section--create-team">
  <img src="~/dist/images/new-team.png">
  <h2>No team, yet</h2>
  <p>Assemble your team, and start managing your pages on one place</p>
  <button type="button" class="btn btn-bolder btn-default create-new">Create?</button>
</div>

@section Scripts {
  @Scripts.Render("~/Scripts/jquery-3.3.1.min.js")
  @Scripts.Render("~/dist/js/teams.js")
}
