.fh-autocomplete__result {
  background: #fff;
  margin-top: 5px;
  max-height: 300px;
  width: 100%;
  position: absolute;
  box-shadow: 0 2px 5px rgba(0,0,0,.1);
  border-radius: 3px;
  font-weight: normal;
  z-index: 2;
  overflow-y: auto;

}

.fh-autocomplete__result__item {
  font-size: 13px;
  padding: 5px 10px;
  width: 100%;
  color: $dark-gray;
  cursor: pointer;

  div:last-of-type {
    font-size: 11px;
    color: $light-gray;
    margin-top: -4px;
  }

}
.fh-autocomplete__result__item:hover, .fh-autocomplete__result__item--selected {
    background: $blue;
    color: #fff;

    div:last-of-type {
      color: rgba(255,255,255,.6);
    }
  }