.fh-sequential-add__trigger {
  background: url('../images/add.png') no-repeat left center;
  padding-left: 35px;
  color: $blue;
}

.fh-sequential-add__element-added {
  font-size: 13px;
  color: $dark-gray;
  position: relative;
  margin-bottom: 15px;
  min-height: 30px;
}

.fh-sequential-add__element-added__remove {
  @extend %dispose-button;
  position: absolute;
  top: 50%;
  margin-top: -(25px / 2);
  right: 0;

  &:hover {
    @extend %dispose-button-hover;
  }
}