@model FlowHub.Models.Team

<div class="dashboard-section dashboard-section--new-team">
	<h6>New team</h6>
	<h2>Create a new team</h2>
	@{Html.RenderPartial("~/Views/Shared/_TeamFormTemplate.cshtml", Model);}
	<div class="form-group form-group--fancy-labels team-members">
		<h5><label>Add members</label></h5>
	</div>
	<div class="actions clearfix">
		<button type="button" class="btn btn-default-outlined">Cancel</button>
		<button type="button" class="btn btn-default">Create team</button>
	</div>
</div>
