<div class="fh-modal__content__image-upload">
  <div>  
    <img src="~/dist/images/team-logo.png">
    <label for="image-upload" class="btn">Upload
      <input id="image-upload" type="file" multiple="multiple">
    </label>
    <p>Upload a unique and recognizable picture for your new team</p>
  </div>
</div>
<div class="fh-modal__content__wrapper">
  <div class="fh-modal__content__header">
    <h3>Create team</h3>
  </div>
  <div class="fh-modal__content__body fh-multistep">
    <div class="fh-multistep__steps">
      <form>
        <div class="fh-multistep__steps__step">
          <div class="team__info">
            <div class="form-group form-group--small form-group--no-validation form-group--fancy-labels">
              <label>Name</label>
              <input type="text" placeholder="My Team">
            </div>
            <div class="form-group form-group--small form-group--no-validation form-group--fancy-labels">
              <label>Bio</label>
              <textarea class="not-resizable"></textarea>
            </div>
          </div>
        </div>
        <div class="fh-multistep__steps__step">
          <div class="fh-sequential-add">
            <button type="button" class="btn fh-sequential-add__trigger">Add new member</button>
          </div>
        </div>
        <div class="fh-multistep__steps__step">
          <h1>pero2</h1>
        </div>
      </form>
    </div>
  </div>
  <div class="fh-modal__content__footer fh-modal__content__footer--right">
    <div>
      <button type="button" class="btn btn-default-outlined step-prev">Previous</button>
      <button type="button" class="btn btn-default step-next">Next</button>
    </div>
  </div>
</div>
