@import "partials/reset";
@import "partials/global";
@import "partials/form";

.call-to-action {
  background: $pale-blue;
  color: $blue;
  transition: .2s ease-in-out;
}

.call-to-action:hover {
  background: $blue;
  color: #fff;
  box-shadow: 0 3px 7px rgba(0,0,0,.15);
}

.call-to-action-link {
  color: $blue;
}

.call-to-action-link:hover {
  text-decoration: underline;
}

.header {
  margin-top: 10px;
}

.header__logo img {
  height: 50px;
}

.header__actions {
  float: right;
  margin-top: (50px - 35px) / 2; 
}

.header__actions__action {
  margin-left: 10px;
  float: left;
}

.header__actions__action--sign-in {
  color: #939393;
}

.content__section {
  h1, h3 {
    color: $dark-gray;
  }

  h1 {
    font-size: 2.5em;
  }

  p {
    margin: 20px 0;
    color: $light-gray;
    line-height: 1.5;
  }
}

.content__section--about {
  padding-top: 50px;
  padding-bottom: 120px;
  background: url('../images/about.png') no-repeat bottom right;
  background-size: 70%;

  h1 {
    width: 20%;
  }

  & > div {
    margin-top: 150px;
    width: 35%;
  }
}

.feature-steps {
  margin-top: 50px;
}

.feature-steps__step {
  float: left;
  width: (100% / 3);
  padding-right: 20px;

  & > div {
    height: 150px;
    margin-bottom: 25px;
    background-repeat:  no-repeat;
    background-position:  center;
    background-size: contain;
  }
}

.feature-steps__step:nth-of-type(2) {
  padding: 0 10px;
}

.feature-steps__step:last-of-type {
  padding-left: 20px;
  padding-right: 0;
}

.content__section--schedule-feature {
  padding-top: 180px;

  .feature-steps__step > div {
    background-image: url('../images/schedule-1.png');
  }

  .feature-steps__step:nth-of-type(2) > div {
    background-image: url('../images/schedule-2.png');
  }

  .feature-steps__step:last-of-type > div {
    background-image: url('../images/schedule-3.png');
  }
}

.pointers {
  margin: 15px 15%;

  & + h3 {
    line-height: 1.5;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 30px;
  }
}

.posts {
  display: block;
  width: 85%;
  margin: 0 auto;
}

.content__section--analytics-feature {
  padding: 300px 0;
  background: url('../images/analytics.png') no-repeat top center;
}

.content__section--analytics-feature {
  .feature-steps__step {
    & > div {
      background-image: url('../images/analytics-1.png');
    }
  }
  
  .feature-steps__step:nth-of-type(2) {
    & > div {
      background-image: url('../images/analytics-2.png');
    }
  }
  
  .feature-steps__step:last-of-type {
    & > div {
      background-image: url('../images/analytics-3.png');
    }
  }
}

.content__section--schedule-feature, .content__section--analytics-feature {
  text-align: center;

  .head-title, .head-paragraph {
    margin-left: auto;
    margin-right: auto;
  }
  
  .head-title {
    width: 60%;
  }

  .head-paragraph {
    width: 65%;
  }
}

.footer {
  text-align: center;
  padding: 50px 0;
  border-top: 1px solid #ededed;

  img {
    width: 150px;
  }

  p {
    font-size: 13px;
    margin-top: 5px;
    color: $light-gray;
  }
}

.sign-container {
  width: 35%;
  margin: auto;
  position: fixed;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);

  h1 {
    color: $blue;
  }

  p {
    color: $light-gray;
    margin: 10px 0 30px 0;
  }

  .url-default {
    color: $light-gray;
    font-size: 13px;
    border-bottom: 1px dashed $light-gray
  }
  
  .url-default:hover {
    color: $blue;
    border-color: $blue;
  }

  .form-group a {
    margin-bottom: 10px;
    float: right;
  }

  span {
    height: 35px;
    line-height: 35px;
    font-size: 13px;
    
    a {
      color: $blue;
    }
  }

  .btn {
    float: right;
  }
}